* {
  box-sizing: border-box;
}
body {
  background-image: url("img/tlo.webp");
  font-family: "Lato", sans-serif;
  color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-size: 25px;
  font-weight: bold;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  padding-bottom: 60px;
}

.container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin:0 auto;
  min-height:calc(100% - 50px);
}
.logo {
  color: white;
  margin-left: auto;
  margin-right: auto;
  font-size: 100px;
  text-align: center;
}
.lista {
  width: 1240px;
  display: flex;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}
.tile {
  padding: 30px;
  margin: 0px;
  width: 172px;
  height: 25px;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: bold;
  box-sizing: content-box;
}

a.link {
  color: #ffffff;
  text-decoration: none;
  display: block;
  width: 172px;
  height: 25px;
  transition: 0.25s;
  text-align: center;
}
.tile:hover > a.link {
  color: #11999e;
}
.main {
  width: 1000px;
  height: 700px;
  margin-left: 20px;
  margin-top: 20px;
}
.kontakt {
  background: rgba(168, 161, 161, 0.5);
  margin: 20px;
  color: #fff;
  font-size: 22px;
  padding: 10px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  /* dostosowuje sie do rodzica a nie do calej strony */
  position: relative;
}
.ikona {
  width: 35px;
}
.link1 {
  color: #ffffff;
  text-decoration: none;
  display: block;
  width: 35px;
  height: 35px;
}
.socialmedia {
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  right: 5px;
}
.title {
  text-align: center;
  font-size: 35px;
  margin: 5px;
  font-weight: 800;
}
.dropdown-menu {
  background-color: rgb(149, 163, 163);
  position: absolute;
  top: 60px;
  list-style-type: none;
  border: 1px solid #fff;
  padding: 0;
  display: none;
  border-style: solid;
  z-index: 40;
  box-sizing: content-box;
}
.dropdown-menu:hover {
  display: block;
}
.nav-item {
  border-bottom: 1px solid #fff;
  color: white;
  padding: 5px;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: 0.4s;
}
.heroes3:hover > .dropdown-menu {
  display: inline-block;
  font-weight: bold;
}
.nav-item a:hover {
  color: #11999e;
}
.tekst {
  font-weight: bold;
}
.link2 {
  color: #ffffff;
  text-decoration: none;
}
.link2:hover {
  color: #11999e;
  transition: 0.3s;
}
.back-steps {
  background-color: rgba(168, 161, 161, 0.5);
}
.img2 {
  width: 90%;
  padding: 10px;
  margin: 50px;
  align-items: center;
}
.tekst2 {
  text-align: center;
  justify-content: center;
}
.img3 {
  margin-left: 500px;
}
.img4 {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  width: 300px;
  margin-left: 30px;
}
.img4:hover {
  -moz-transform: scale(2);
  -o-transform: scale(2);
  -webkit-transform: scale(2);
}
.img6 {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  width: 30%;
  margin: 15px;
  padding: 15px;
}
.img6:hover {
  -moz-transform: scale(2);
  -o-transform: scale(2);
  -webkit-transform: scale(2);
}
.first-steps-container {
  display: flex;
}
.img5 {
  margin-left: 400px;
}
.hamburger {
  display: none;
}

.nav-mobile {
  display: none;
}
.push {
  height: 50px;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  bottom: 0;
  height: 60px;
  position: absolute;
  background-color: rgba(149, 163, 163, 0.308);
 justify-content: center;
}

.footer-column {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ikona2 {
  width: 20px;
}
.footer-items {
  width: 100%;
  max-width: 1240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
.link3 {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
}
a.link3 {
  margin-left: 5px;
}
.link3:hover {
  color: #11999e;
}
.main-square {
  width: 1240px;
  display: flex;
}
.square1 {
  width: 75%;
  display: flex;
  padding: 10px;
  margin: 10px;
  flex-wrap: wrap;
}
.square-item {
  width: 400px;
  height: 300px;
  background-color: #1b6ca8;
  margin: 15px;
  transition: 0.3s;
  color: #f4f4f4;
  font-size: 30px;
}
.square-item:hover {
  background-color: #303960;
}
.square-item-1 {
  background: linear-gradient(rgb(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("img/21.png") no-repeat center center/cover;
  /* background-size: 100% 100%; */
  /* background-repeat: no-repeat; */
  text-align: center;
  justify-content: space-between;
  cursor: pointer;
}
.square-item-1:hover {
  color: #f0a500;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("img/21.png") no-repeat center center/cover;
}
.square-link {
  display: block;
  width: 100px;
  height: 100px;
}
.square2 {
  padding: 20px;
  margin: 20px;

}
.calculator {
  width: 100%;
  display: flex;
  position: relative;
  background: linear-gradient(90deg, #000000, #3b1455, #000000);
}
.calculator-left {
  display: flex;
  margin: 20px;
  
}

.final-button {
  height: 20px;
}
.book-magic {
  background-image: url("img/ksiegaczarow.png");
  background-repeat: no-repeat;
  padding: 10px 0px 0px 60px;
  width: 450px;
}
.img-spell{
  cursor: pointer;
  transition: 0.2s;
}
.img-spell:hover {
  filter: brightness(50%);
  
}
.magic-select {
display: flex;
align-items: center;
flex-direction: column;
height: fit-content;
}
.img-magic {
  cursor: pointer;
  transition: 0.2s;

}
.img-magic:hover {
  filter: brightness(50%);
}

.calculator-right {
  padding: 10px;
  justify-content: space-around;
  display: flex;
  width: 100%;
}
.calculate {
  background: linear-gradient(45deg, #000002, #3d0892fc);
  border: 2px solid rgb(121, 28, 28);
  padding: 10px;
  text-align: -webkit-center;
  height: fit-content;
}
.spellpower {
  display: block;
  padding: 1px;
}
.orb{
  margin: 0px 16px 0px 15px;
}
.left-img {
  width: 50px;
  cursor: pointer;
}
.left-img:hover{
  filter: brightness(50%);
}
.left-img-spellpower {
  width: 50px;
}
.town-creature {
justify-content: center;
align-items: center;
flex-direction: column;  
}
.town {
  background: linear-gradient(45deg, #000002, #3d0892fc);
  width: 170px;
  border: 2px solid rgb(121, 28, 28);
  padding: 5px;
  margin: 10px;
}
.town-active {
  filter: brightness(100%)!important;
}
.creature {
  background: linear-gradient(45deg, #000002, #3d0892fc);
  width: 160px;
  border: 2px solid rgb(121, 28, 28);
  padding: 10px;
  margin: 15px;
}
.town-img {
  cursor: pointer;
  filter: brightness(40%);
}
.town-img:hover {
  filter: brightness(100%);
}
.img-creature{
  cursor: pointer;
  filter: brightness(40%);
  display: none;
}
.img-creature:hover {
  filter: brightness(100%);
}
.creature-active {
  display: inline-flex;
}
.creatures-active {
  filter: brightness(100%);
}
.creature-animation{ 
  background: linear-gradient(45deg, #000002, #3d0892fc);
  width: 160px;
  border: 2px solid rgb(121, 28, 28);
  padding: 10px;
  margin: 15px;
}
.hide {
display:none;
}
@media (max-width: 768px) {
  .container {
    width: 95%;
  }
  body {
    background-color: lightblue;
    padding: 0px;
    position: relative;
    width: 100%;
    padding-bottom: 50px;
  }
  .hamburger,
  .nav-mobile {
    transition: 0.3s 0.1s ease-in-out;
  }
  .hamburger {
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    margin: 0;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
  }

  .hamburger-box {
    width: 35px;
    height: 24px;
    display: inline-block;
    position: relative;
  }

  .hamburger-inner {
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.1s 0.2s ease-in-out;
  }

  .hamburger-inner::before,
  .hamburger-inner::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 0;
    transition: 0.2s 0.2s ease-in-out;
  }
  .hamburger-inner::before {
    top: -10px;
  }
  .hamburger-inner::after {
    top: 10px;
  }

  .hamburger-active .hamburger-inner {
    background-color: transparent;
  }
  .hamburger-active .hamburger-inner:before {
    transform: translateY(10px) rotate(45deg);
  }
  .hamburger-active .hamburger-inner:after {
    transform: translateY(-10px) rotate(-45deg);
  }
  .nav-mobile {
    height: 100vh;
    width: 250px;
    top: 0;
    left: 0;
    padding: 10px;
    background:linear-gradient(45deg, #166fb3, #e04848fc);;
    transform: translateX(-250px);
    display: block;
    position: fixed;
    z-index: 1;
    box-sizing: border-box;
    font-size: 15px;
  }
  .nav-mobile a {
    color: #222831;
  }
  .nav-mobile-active {
    transform: translateX(0px);
    z-index: 1;
  }

  .nav-mobile-list {
    list-style: none;
    margin-top: 20px;
  }
  .nav-mobile-item {
    list-style: none;
  }
  a.link {
    width: 180px;
    height: 30px;
    color: white;
    margin: 10px;
  }
  .nav-mobile-item a.link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dropdown-menu {
    display: none;
  }
  .tile {
    display: none;
  }
  div.lista {
    display: none;
  }
  div.logo {
    font-size: 40px;
  }
  .first-steps-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img6 {
    width: 300px;
    margin: 10px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
  }
  .img6:hover {
    -moz-transform: none;
    -o-transform: none;
    -webkit-transform: none;
    box-shadow: 1px 1px 1px black;
  }
  .footer {
    font-size: 7px;
    padding: 0px;
  }
  .ikona {
    width: 25px;
  }
  .link1 {
    height: 25px;
    width: 30px;
  }
  .main {
    width: 90%;
    height: 250px;
    padding: 0px;
  }
  .img2 {
    width: 90%;
    padding: 0px;
    margin: 0px;
    align-items: center;
  }
  .img3 {
    margin-left: 0px;
  }
  .img4 {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    width: 90%;
    margin-left: 0px;
  }
  .img4:hover {
    -moz-transform: none;
    -o-transform: none;
    -webkit-transform: none;
    box-shadow: 1px 1px 1px black;
  }
  .img5 {
    margin-left: 0px;
    width: 90%;
  }
  .link1 {
    width: 25px;
    height: 25px;
  }
  .arrow {
    transform: rotate(-90deg);
    width: 10px;
    height: 10px;
    transition: 0.25s;
    right: 25px;
    position: absolute;
  }
  .arrow-active {
    transform: rotate(90deg);
  }
  .dropdown-list-mobile {
    height: 0;
    overflow: hidden;
    transition: 0.3s;
  }
  .dropdown-active {
    height: 120px;
  }
  .dropdown-mobile-item {
    display: flex;
    align-items: center;
  }
  .main-square {
    max-width: 95%;
  }
  .square1 {
    width: 95%;
  }
  .square2 {
    display: none;
  }
}
